# Keep project text files consistent across Windows and Linux
* text=auto

*.tf      text eol=lf
*.hcl     text eol=lf
*.yml     text eol=lf
*.yaml    text eol=lf
*.sh      text eol=lf
*.cfg     text eol=lf
*.j2      text eol=lf
*.md      text eol=lf
.gitignore text eol=lf
