# Terraform working directory
.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Saved plans
*.tfplan
tfplan

# Local variable files
terraform.tfvars
*.auto.tfvars


# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash and diagnostic files
crash.log
crash.*.log

# Private keys
*.pem
*.key

