# Terraform working directory
.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Saved plans
*.tfplan
tfplan

# Local variable files
terraform.tfvars
*.auto.tfvars


# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash and diagnostic files
crash.log
crash.*.log

# Private keys
*.pem
*.key

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local scan output
checkov-results.txt
checkov-final-results.txt